body {
  font-family: 'Franklin Gothic Medium', serif;
  background-color: offwhite;
  margin: 0;
  padding: 0;
}

header h1{
    text-align: center;
    color: rgb(91, 89, 195);
}

h1 {
    font-size: 40px;
    margin: 0;
    color: rgb(255, 30, 30);
}


header {
  background-color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
margin: 0;
}

nav ul.nav-list li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
}

main {
  padding: 10px 0px;
  max-width: 1200px;
  margin: auto;
}

h2{
    text-align: center;
    color: rgb(82, 79, 210);
    font-size: 28px;
}

footer {
  background-color: rgb(243, 243, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
